p{
    color:red;
}
.coolStyle{
    background:color pink;
    color:orange;
}
.big{
    font-size: 2rem;
}

#feature-Heading{
    text-decoration: underline ;
}

li:nth-child(3n+1){
    background-color: darkblue;
    color: green;
    
}

div img{
    width: 50vw;
}

div{
    width: 70%;
    border:2px solid red;
}